name: "Test"
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: yarn install
      - uses: actions/checkout@v4
      - run: yarn install
      - run: yarn lint && yarn test
